  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Bem vindo ao Mercado da Imagem</h1>

    <!-- Portfolio Section -->

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><%=image_tag("crieart_700x400.jpg", :size => "200", class: "card-img-top") %></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Traga sua imagem</a>
            </h4>
            <p class="card-text">Em nossa molduraria você encontrará diversos tipos e cores de molduras. Escolha a que mais gostar para suas imagens e decore sua casa!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><%=image_tag("subafoto_700x400.jpg", :size => "200", class: "card-img-top") %></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Imprima suas fotos!</a>
            </h4>
            <p class="card-text">Possuimos equipamentos de ponta e papéis diversos para transformar suas fotografias em obras de arte!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><%=image_tag("vejacolecao_700x400.jpg", :size => "200", class: "card-img-top") %></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Visite nossa Galeria</a>
            </h4>
            <p class="card-text">Venha nos visitar e conheça nossas obras, você pode escolher entre diversos temas e levar para casa na hora!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Four</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Five</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Six</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Mercado da Imagem</h2>
        <p>Visite nossa galeria e veja o que podemos fazer por você:</p>
        <ul>
          <li>
            <strong>Quadros Prontos</strong>
          </li>
          <li>Papéis de parede</li>
          <li>Serviço de molduraia</li>
          <li>Impressões FineArt</li>
          <li>Milhares de imagens</li>
        </ul>
        <p><strong>Localização:</strong><br>
        Rua Arthur de Azevedo, 1309<br>
        Pinheiros - São Paulo/SP<br>
        Telefone:(11)  3554-4777</p>

        <p><strong>Horário de funcionamento:</strong><br>
        Segunda à Sexta das 10h00 às 20h00<br>
        Sábado das 10h00 às 16h00</p>
      </div>
      <div class="col-lg-6">
        <%=image_tag("loja_750x450.jpg", :size => "750x450", class: "img-fluid rounded") %>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->